// Fonts
$primary-font__medium: "Roboto__Medium_500",sans-serif;

// Colors
$white-color: #fff;
$primary-color: #7c3aed;
$secondary-color: #d4d2db;
$teritary-color: #585076;
$quaternary-color: #c4c4c4;

// Background-Colors 
$primary-Bg-color: #150b3e;
$secondary-Bg-color: #c7d2fe;
$teritary-Bg-color: #382f5a;